* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main {
  width: 30%;
  height: 25%;
  border: 2px solid #222;
  border-radius: 9px;
  transition: all 0.1s;
}
