* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  width: 80%;
  height: 80%;
}

.div {
  position: absolute;
  height: 30rem;
  width: 20rem;
  /* background-color: black; */
  overflow: hidden;
  transition: all 0.5s;
}

.div .img {
  border-radius: 10px;
  width: 100%;
  /* height: 100%; */
  transform: translateY(120%);
  transition: all 0.3s linear;
}

.img.translate {
  transform: translateY(0);
  transition: all 0.5s ease-out;
}
